<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="quizMapper">
	<resultMap type="QuizDO" id="quizDOResultSet">
		<id property="question" column="QUESTION" />
		<result property="answerOne" column="ANSWER" />
	</resultMap>
	
	<select id="submitAnswer" parameterType="QuizDO" resultMap="quizDOResultSet">
		SELECT * FROM QuizDO WHERE QUESTION=#{question} AND ANSWERONE=#{answer}
	</select>
</mapper>